[Desktop Entry]
Name=xdesk
NoDisplay=true
MimeType=x-scheme-handler/xdesk;
TryExec=xdesk
Exec=xdesk %u
Icon=xdesk
Terminal=false
Type=Application
StartupNotify=false
StartupWMClass=xdesk
